.container {
  grid-area: 1 / 1 / 2 / 4;

  &_filters {
    padding: 8px 32px;
    border-bottom: 1px solid var(--border-color);

    display: flex;
    gap: var(--gap);

    overflow-y: auto;
  }

  &_content {
    padding: 16px 32px;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    gap: 16px;

    &__cards {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 1fr;
      gap: var(--gap);

      @media screen and (max-width: 1600px) {
        grid-template-columns: repeat(4, 1fr);
      }

      @media screen and (max-width: 1300px) {
        grid-template-columns: repeat(3, 1fr);
      }
      
      @media screen and (max-width: 1000px) {
        grid-template-columns: repeat(4, 1fr);
      }
      
      @media screen and (max-width: 900px) {
        grid-template-columns: repeat(3, 1fr);
      }
   
      @media screen and (max-width: 700px) {
        grid-template-columns: repeat(2, 1fr);
      }
      
      @media screen and (max-width: 470px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
