.container {
  position: relative;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;

  height: 100%;
  overflow-y: auto;

  @media screen and (max-width: 1000px) {
    gap: 16px;
    display: flex;
    flex-direction: column;
  }
}

.overlow {
  overflow-y: hidden;

  @media screen and (max-width: 1000px) {
    overflow-y: auto;
  }
}
