@import '/src/index.scss';

.container {
  position: fixed;
  background: #fff;
  height: 70px;
  width: 100vw;
  top: 0;
  z-index: 20;
  border-bottom: 1px solid var(--border-color);

  padding-right: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: var(--font-color);
    text-decoration: none;
  }

  &_logo {
    padding: 16px 32px;
    gap: 16px;

    @extend .flex-center;
  }

  &_menu {
    height: 100%;
    border-left: 1px solid var(--border-color);

    border-radius: 0;
    width: 70px;
  }
}
